[Unit]
Description=trojan-go-anomy
Wants=network.target nginx.service
After=network.target nginx.service

[Service]
Type=simple
ExecStart=/usr/local/bin/trojan-go/trojan-go -config /usr/local/etc/trojan-go/anomy.json

[Install]
WantedBy=multi-user.target
